.todo-list-title {
  text-align: center;
  font-size: 2em;
  color: #c4dfe6;
  text-shadow: 2px 2px #021c1e;
}

.card-list {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.todo-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin: 10px 10px;
  display: inline-block;
  background: linear-gradient(to right, #003b46, #07575b);
  color: #c4dfe6;
}

.todo-card-body {
  padding: 2px 16px;
}

.todo-card-body h3 {
  border-bottom: 1px solid #c4dfe6;
  padding-bottom: 5px;
}

.todo-card-details {
  text-align: left;
}

.todo-card-details time {
  font-size: 0.8em
}

.todo-card-btn {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  background: #021c1e;
  color: #c4dfe6;
}