ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  overflow: hidden;
  background-color: #021c1e;
  text-align: center;
}

ul li {
  display: inline-block;
}

li {
  text-align: center;
}

li a {
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #07575b;
  color: #fff;
  text-decoration: none;
}