/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Tomorrow', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #07575b !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th, td {
  text-align: left;
  padding: 8px;
}

.table-dark {
  background: linear-gradient(to right, #003b46, #07575b) !important;
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #c4dfe6 !important;
}

.swal2-popup {
  border-radius: 0 !important;
}

.swal2-styled.swal2-confirm {
  background: #021c1e !important;
  color: #c4dfe6 !important;
  border-radius: 0 !important;
}

.swal2-styled.swal2-cancel {
  border-radius: 0 !important;
}